.edit{
    color: rgba(248, 241, 30, 0.409);
    transition: 450ms;
    font-size: 1.5rem;
    border: 2px solid rgba(248, 241, 30, 0.409) ;
    border-radius: 8px;
}

.edit:hover{
    color: rgb(238, 255, 7);
    border: 2px solid rgb(238, 255, 7) ;
    cursor: pointer;
}